@import "./componants/Global.css";
@import "./componants/Homepage/Homepage.css";
@import "./componants/Nav/Nav-Button.css";
@import "./componants/Bookmarkpage/Bookmarkpage.css";
@import "./componants/Form/Form.css";
@import "./componants/Profile/Profile.css";

:root {
  --darkpurple: rgb(29, 2, 51);
  --purple: rgb(63, 6, 110);
  --lightpurple: rgb(217, 197, 247);
  --orange: rgb(236, 148, 41);
  --lightorange: rgb(250, 227, 198);
}
