* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  color: var(--darkpurple);
  background-color: var(--lightpurple);
  padding: 1rem;
  font-weight: bolder;
  width: 100%;
}

/* Profile Section */

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 50px;
  padding: 24px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40%;
  border-radius: 100%;
}

.user-name {
  margin-left: 30px;
  font-size: 20px;
  color: var(--darkpurple);
  text-transform: uppercase;
}

.user-info {
  margin-top: 30px;
  color: var(--darkpurple);
  hyphens: auto;
}

/* counter section */

.counter-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.counter-img {
  height: 30px;
  padding-right: 10px;
}

.counterProfilepage {
  display: flex;
  align-items: center;
  background-color: var(--lightpurple);
  color: var(--darkpurple);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

/* setting-section */
.setting-section {
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 24px;
  padding-bottom: 100px;
  color: var(--darkpurple);
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  /* Das label-Element */
  position: relative; /* Um im nächsten Schritt den runden Button mit position:absolute festzusetzen */
  width: 64px;
  height: 34px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.slider {
  /* heller HG des Schalters */
  position: absolute;
  background-color: var(--lightpurple);
  border-radius: 17px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  /* weißer Kreis */
  background-color: white;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--darkpurple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* nav bar bottom */

.nav-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(lightorange);
}

.ul-nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.icon {
  height: 40px;
}

.active {
  background-color: var(--orange);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inactive {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
