form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin: 50px 24px 80px 24px;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--lightpurple);
}

textarea,
input {
  margin: 5px 0 10px 0;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.add-question-button {
  padding: 10px 40px 10px 40px;
  font-family: "Poppins", sans-serif;
  background-color: var(--darkpurple);
  color: var(--lightpurple);
  margin-top: 24px;
}

input {
  height: 51px;
}

.submitButton {
  padding: 10px 40px 10px 40px;
  font-family: "Poppins", sans-serif;
  background-color: var(--darkpurple);
  color: var(--lightpurple);
  margin-top: 15px;
}

.submitButton:hover {
  background-color: var(--purple);
  color: var(--lightpurple);
}
