* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  header {
    display: flex;
    justify-content: center;
    color: rgb(29, 2, 51);
    background-color: rgb(250, 227, 198);
    padding: 1rem;
    font-weight: bolder;
    width: 100%;
  }