.nav-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(250, 227, 198);
  }
  
  .ul-nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .icon {
    height: 40px;
  }
  
  .active {
    background-color: rgb(236, 148, 41);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .inactive {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  